{% extends "base.html" %}
{% load static %}

{% block title %}Remove {{ member.user.get_full_name }} - Committee Member{% endblock %}

{% block content %}
<div class="content container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-danger">
                <div class="card-header bg-danger text-white">
                    <h4 class="card-title mb-0">
                        <i class="fas fa-exclamation-triangle"></i> Confirm Removal
                    </h4>
                </div>
                <div class="card-body">
                    <p class="lead">Are you sure you want to remove this committee member:</p>
                    <div class="alert alert-warning">
                        <strong>{{ member.user.get_full_name }}</strong><br>
                        <small>{{ member.get_role_display }} - Ward {{ member.ward_committee.ward_number }}</small>
                    </div>
                    
                    <div class="alert alert-info">
                        <strong>Note:</strong> This will remove the member from the committee but will not delete their user account. They can be re-added to this or other committees later.
                    </div>
                    
                    <form method="post" class="d-inline">
                        {% csrf_token %}
                        <a href="{% url 'governance:ward_committee_member_detail' member.pk %}" class="btn btn-secondary mr-2">
                            <i class="fas fa-arrow-left"></i> Cancel
                        </a>
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-user-minus"></i> Yes, Remove Member
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}