<tr>
    <td>
        <div class="form-check check-tables">
            <input class="form-check-input" type="checkbox" value="{{ province.id }}"/>
        </div>
    </td>
    <td>{{ province.name }}</td>
    <td>{{ province.code }}</td>
    <td>
        <a href="{% url 'governance:district_list' %}?province_id={{ province.id }}" class="btn btn-sm btn-info">
            View Districts
        </a>
    </td>
    <td class="text-end">
        <div class="actions">
            <a href="{% url 'governance:province_detail' pk=province.id %}" class="btn btn-sm bg-success-light me-2">
                <i class="feather-eye"></i>
            </a>
            
            {% if user.is_staff %}
            <a href="{% url 'governance:province_update' pk=province.id %}" class="btn btn-sm bg-danger-light me-2">
                <i class="feather-edit"></i>
            </a>
            
            <a href="{% url 'governance:province_delete' pk=province.id %}" class="btn btn-sm bg-danger-light">
                <i class="feather-trash"></i>
            </a>
            {% endif %}
        </div>
    </td>
</tr>